::-webkit-scrollbar{
  display: none;
}
html:root{
  background-color: rgb(235, 235, 235);
  overflow-y: hidden;
}
html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.Basepage{
  height: 100%;
  width: 100%;
  background-color: aliceblue;
}
/*Headerbar*/
header{
    background-color: rgba(150, 150, 150, 0.5);
    width: 100%;
    color: black;
    position: fixed;
    display: flex;
    justify-content: center;
    font-size: 75%;
}
.headerch{
  position: relative;
}
.chhotaheading{
  font-size: 65%;
  text-align: center;
}
.hindi{
  text-align: center;
}
.english{
  text-align: center;
}

@media (max-width: 825px) {
    header{
      font-size: 1.4vw;
    }
    .imgLogo{
      width: 22vw;
    }
}

/*Login WebPage*/
.loginpage{
  height: 100%;
  width: 100%;
  background-image: url('https://images.collegedunia.com/public/college_data/images/appImage/_11111plok-001.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  object-fit: fill;
}
/*Login Window*/
.Login-Box{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 30%;
  left: 12.5%;
  height: 50%;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}
    /*form System*/
.wrapper{
  padding-top: 20px;
  height: fit-content;
  margin-right: 3%;
  border-left: 2px solid black;
  padding-left: 25px;

}
input{
  width: 90%;
}
    /*written instruction*/
.instruction{
  width: 55%;
}
.icon{
  float: right;
  position: relative;
  top: -20px;
  left: 5px;
}
@media (max-width: 850px) {
  .Login-Box{
    flex-direction: column-reverse;
    height: 60%;
    width: 80%;
    overflow: scroll;
    justify-content: center;
    align-items: center;
  }
  .instruction{
    margin-top: 40px;
    font-size: smaller;
  }
  .wrapper{
    border-left: none;
  }
  @media (max-height: 630px) {
    .instruction{
      margin-top: 40px;
      padding-bottom: 28%;
      font-size: smaller;
    }
  }
  @media (max-height: 520px) {
    .instruction{
      margin-top: 40px;
      padding-bottom: 50%;
      font-size: smaller;
    }
  }
}
@media (max-width: 510px) {
  .instruction{
    width: 90%;
  }
}

@media (max-height: 550px) {
    header{
      font-size: 2.2vh;
    }
    .imgLogo{
      height: 20vh;
      width: 20vh;
    }
}
@media (max-height: 500px) {
  header{
    font-size: 1.4vh;
  }
  .imgLogo{
    height: 15vh;
  }
}
/* Login Button Copied*/
.button{
  background-color: #f7e8d7;
  border-radius: 10px;
  box-shadow: #422800 4px 4px 0 0;
  font-weight: 600;
  font-size: 16px;
  padding: 0 8px;
  line-height: 25px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
  cursor: pointer;
}.button:hover {
  background-color: #fff;
}.button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}


/*Student Page*/
.studentpage{
  width: 100%;
  height: 100%;
  overflow: scroll;
}
.sidenav{
  display: flex;
  flex-direction: column;
  width: 20%;
}
.menu-bars{
  font-size: 2rem;
  border: none !important;
  background: none;
}
.three{
  margin: 15px;
}

.nav {
  box-sizing: border-box;
  width: max-content;
  margin: 0;
  padding: 0;
}
.navbar{
  position: absolute;
  height: 100%;
  background-color: rgb(195, 195, 195);
}
.nav-menu{
  background-color: rgba(195, 195, 195);
  padding: 15px;
  height: 100vh;
  display: flex;
  position: relative;
  
  left: -100%;
  transition: 850ms;
  
}
.nav-menu-items{
  padding: 0px;
  list-style: none;
}
.nav-menu.active{
  left: 0px;
  transition: 500ms;
}
.nav-menu-items > li > a{
  text-decoration: none;
  padding: 15px;
  border-bottom: 1.8px solid rgb(235, 235, 235);
}
.nav-text a {
  
  color: black;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  
  border-radius: 4px;
}
.nav-text a:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}
.navbar-toggle {
  background-color: rgb(187, 187, 187);
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  background-color:  rgb(195, 195, 195);
  list-style: none;
  width: fit-content;
  align-items: center;
}
a > svg{
  margin-right: 10px;
}
