html{
  height: 100%;
  width: 100%;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
header{
    background-color: rgba(151, 151, 151, 0.5);
      width: 100%;
      color: black;
      position: fixed;
      display: flex;
      justify-content: center;
      font-size: 75%;
}
.chhotaheading{
  font-size: 65%;
  text-align: center;

}
.hindi{
  text-align: center;
}
.english{
  text-align: center;
}
.logo{
  size: 1vw;
}
  @media (max-width: 825px) {
    header{
      font-size: 1.4vw;
    }
    .imgLogo{
      width: 22vw;
    }
  }
.Login-Box{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 30%;
  left: 12.5%;
  height: 40%;
  width: 75%;
  background-color: rgba(255, 255, 255, 0.86);
  border-radius: 10px;
  align-items: center;
}
.wrapper{
  /*justify-content: center;*/
  height: fit-content;
  margin-right: 3%;

}
.firstpage{
  height: 100%;
  width: 100%;
  background-image: url('https://images.collegedunia.com/public/college_data/images/appImage/_11111plok-001.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}
html:root{
  background-color: rgb(235, 235, 235);
}
.instruction{
  height: 100%;
  padding-top: 1%;
  padding-left: 1%;
  width: 70%;
}
.log{
  height: 100%;
  width: 35%;
}
.form{
  padding-left: 10%;
  margin-top: 50%;
}